tifffile
scikit-image
scikit-misc
pandas
numpy
scipy
opencv-python
openpyxl
readlif
numba
loompy
scanpy

mclahe # pip install --upgrade https://github.com/VincentStimper/mclahe/archive/numpy.zip ## Cite!
glmpca